{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <title>About Us </title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="http://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
</head>

<body>
<script src='../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src="../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
        }
    })();
</script>
<script>
    (function (v, d, o, ai) {
        ai = d.createElement("script");
        ai.defer = true;
        ai.async = true;
        ai.src = v.location.protocol + o;
        d.head.appendChild(ai);
    })(window, document, "../../../../../../vdo.ai/core/w3layouts/vdo.ai.js");
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../../../../../www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-30027142-1', 'w3layouts.com');
    ga('send', 'pageview');
</script>
<body>
<!-- banner -->
{% include 'main/banner.html' %}
<!-- banner -->
<!---728x90--->

<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Germinate
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section>
                <div class="modal-body">
                    <img src="{% static 'images/4.jpg' %}" alt=" " class="img-responsive"/>
                    <p>Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        <i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.</i></p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //bootstrap-pop-up -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="w3layouts_breadcrumbs_left">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="{% url "home" %}">Асосий</a><span>/</span>
                </li>
                <li><i class="fa fa-info-circle" aria-hidden="true"></i>Биз ҳақимизда</li>
            </ul>
        </div>
        <div class="w3layouts_breadcrumbs_right">
            <h2>Биз ҳақимизда</h2>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //breadcrumbs -->
<!---728x90--->

<!-- about -->
<div class="welcome">
    <div class="container">
        <h3 class="agileits_w3layouts_head"><span>Биз ҳақимизда</span></h3>
        <div class="w3_agile_image">
            <img src="{% static 'images/1.png' %}" alt=" " class="img-responsive"/>
        </div>
        <p class="agile_para">Ҳурматли меҳмон бизнинг веб сахифамизга Хуш келибсиз!!!</p>
        <div class="w3ls_news_grids">
            <div class="col-md-6 w3_agile_about_grid_left">
                <h3>Ҳақимизда</h3>
                <p>Ташкилотимиз фаолиятини 2007 йилда бошлади. Фаолиятимизнинг дастлабки йилларида фермерларимизнинг
                    талаб ва истакларини инобатга олган холда чорва озуқа экинлари уруғларини синови билан бошлади.
                    Бугунги кунга келиб ташкилотимизда ётарли малакали агрономлар мавжуд бўлиб хар бир вилоят ва
                    туманлар буйича сизга тавсия қилинган қишлоқ хўжалиги экин уруғлари минерал озуқалар ва ўсимликларни
                    кимёвий ҳимоя қилиш воситаларини қўллаш ва йетиштириш агротехникасини сиз билан биргалигда амалга
                    оширади. Ташкилотимизга олиб келинаётган жумладан барча турдаги қишлоқ хўжалиги экин уруғларини
                    сотишга олиб киришдан авал республикамизни барча турдаги тупроқларда уч йил давомида
                    синалади.Уларнинг хосилдорлиги касаликка ва қурғокчиликка чидамлилиги юқори бўлган гибрид навлар
                    сотишга олиб кирилади бу эса юқори хосил олишингиз кафолати хисоблана</p>
            </div>
            <div class="col-md-6 w3_agile_about_grid_right">
                <div class="skillbar" data-percent="78">
                    <span class="skillbar-title" style="background: #f1703a;">Seeds</span>
                    <p class="skillbar-bar" style="background: #f88c5e;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->

                <div class="skillbar" data-percent="54">
                    <span class="skillbar-title" style="background: #2980b9;">Growth</span>
                    <p class="skillbar-bar" style="background: #3498db;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->

                <div class="skillbar" data-percent="76">
                    <span class="skillbar-title" style="background: #a0d034;">Economy</span>
                    <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->

                <div class="skillbar" data-percent="80">
                    <span class="skillbar-title" style="background: #e7cc2c;">Planting</span>
                    <p class="skillbar-bar" style="background: #f5d410;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->
<!---728x90--->

<!-- skills -->
<script src="{% static 'js/skill.bars.jquery.js' %}"></script>
<script>
    $(document).ready(function () {

        $('.skillbar').skillBars({
            from: 0,
            speed: 4000,
            interval: 100,
            decimals: 0,
        });

    });
</script>
<!-- //skills -->
<!-- about-bottom -->
<div class="about-bottom">
    <div class="container">
        <h3><span>Ташкилотимиз</span> дехқон ва фермерларимиз талабларини ва истакларини доимо ўрганиб
            боради. Веб сахифамизга ташрифингиздан мамнунмиз. Сизга мустахкам соғлиқ ва баракотли хосил тилаб “AGRO
            BUSINESS” жамоаси.</h3>
    </div>
</div>
<!-- //about-bottom -->
<!-- team -->
<div class="welcome">
    <div class="container">
        <h3 class="agileits_w3layouts_head">Бизнинг ажойиб <span>жамоамиз</span> билан танишинг</h3>
        <div class="w3_agile_image">
            <img src="{% static 'images/1.png' %}" alt=" " class="img-responsive"/>
        </div>
        <p class="agile_para"></p>
        <div class="w3ls_news_grids w3_agileits_team_grids">
            <div class="col-md-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="{% static 'images/10.jpg' %}" alt=" " class="img-responsive"/>
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook"
                                                                             aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter"
                                                                         aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble"
                                                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Andria Carl</h4>
                <p>Field Manager</p>
            </div>
            <div class="col-md-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="{% static 'images/11.jpg' %}" alt=" " class="img-responsive"/>
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook"
                                                                             aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter"
                                                                         aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble"
                                                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Laura Doe</h4>
                <p>Farmer</p>
            </div>
            <div class="col-md-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="{% static 'images/12.jpg' %}" alt=" " class="img-responsive"/>
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook"
                                                                             aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter"
                                                                         aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble"
                                                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Rosy Paul</h4>
                <p>Co-Founder</p>
            </div>
            <div class="col-md-3 w3_agileits_team_grid">
                <div class="w3layouts_news_grid">
                    <img src="{% static 'images/13.jpg' %}" alt=" " class="img-responsive"/>
                    <div class="w3layouts_news_grid_pos">
                        <div class="wthree_text agileinfo_about_text">
                            <ul class="agileits_social_list">
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook"
                                                                             aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter"
                                                                         aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble"
                                                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Christopher Lii</h4>
                <p>Senior Staff</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- footer -->
{% include 'main/footer.html' %}
<!-- //footer -->
<!-- menu -->
<script>
    $(function () {

        initDropDowns($("div.shy-menu"));

    });

    function initDropDowns(allMenus) {

        allMenus.children(".shy-menu-hamburger").on("click", function () {

            var thisTrigger = jQuery(this),
                thisMenu = thisTrigger.parent(),
                thisPanel = thisTrigger.next();

            if (thisMenu.hasClass("is-open")) {

                thisMenu.removeClass("is-open");

            } else {

                allMenus.removeClass("is-open");
                thisMenu.addClass("is-open");
                thisPanel.on("click", function (e) {
                    e.stopPropagation();
                });
            }

            return false;
        });
    }
</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>