{% load static %}

<div class="footer">
    <div class="container">
        <div class="w3agile_footer_grids">
            <div class="col-md-3 agileinfo_footer_grid">
                <div class="agileits_w3layouts_footer_logo">
                     <a href="{% url 'home' %}"><img src="{% static 'images/agro0.png' %}" style="width: 341px; height: 286px; margin-top: -128px; margin-left: -135px" alt=""></a>
                </div>
            </div>
            <div class="col-md-4 agileinfo_footer_grid">
                <h3>Алоқа маълумотлари</h3>
                <h4><span>+1234 567 891</span></h4>
                <p>My Company, 875 Jewel Road <span>8907 Ukraine.</span></p>
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-2 agileinfo_footer_grid agileinfo_footer_grid1">
                <h3>Навигация</h3>
                <ul class="w3layouts_footer_nav">
                    <li><a href="{% url 'home' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Асосий</a></li>
                    <li><a href="{% url 'about' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ҳақимизда</a></li>
                    <li><a href="{% url 'servicer' %}"><i class="fa fa-long-arrow-right"
                                                     aria-hidden="true"></i>Маҳсулот</a></li>
                    <li><a href="{% url 'gallery' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Галлерй</a>
                    <li><a href="{% url 'news' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Янглик</a>
                    <li><a href="{% url 'contact' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Контак</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 agileinfo_footer_grid">
                <h3>Галлерй</h3>
                <div class="agileinfo_footer_grid_left">
                    <a href="#" data-toggle="modal" data-target="#myModal"><img src="{% static 'images/6.jpg' %}"
                                                                                alt=" " class="img-responsive"/></a>
                </div>
                <div class="agileinfo_footer_grid_left">
                    <a href="#" data-toggle="modal" data-target="#myModal"><img src="{% static 'images/2.jpg' %}"
                                                                                alt=" " class="img-responsive"/></a>
                </div>
                <div class="agileinfo_footer_grid_left">
                    <a href="#" data-toggle="modal" data-target="#myModal"><img src="{% static 'images/5.jpg' %}"
                                                                                alt=" " class="img-responsive"/></a>
                </div>
                <div class="agileinfo_footer_grid_left">
                    <a href="#" data-toggle="modal" data-target="#myModal"><img src="{% static 'images/3.jpg' %}"
                                                                                alt=" " class="img-responsive"/></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="w3_agileits_footer_copy">
        <div class="container">
            <p><a target="_blank" href="#">2021 © Барча ҳуқуқлар ҳимоя қилинган. Барча хизматлар лицензияланган. Code_xn</a></p>
        </div>
    </div>
</div>